body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.searchbar {
  background-color: #fceefc;
  border: 1px solid white;
  display: inline block;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 16px;
}

.logo {
  position: relative;
  float: none;
  width: 70px;
  height: 70px;
  /* background-position: 50% 50%; */
  /* background-repeat: no-repeat; */
  margin-left: 70px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.logout {
  display: flex;
  margin-top: 350px;
  margin-left: 63px;
  background-color: #df69c6;
}
.welcome {
  color: #613e59;
  margin-top: auto;
  font-size: 2rem;
  /* padding: 6px 8px 6px 16px; */
}

h1 {
  color: #4c98af;
  text-align: center;
}

h3 {
  color: #c472b9;
}

h4 {
  color: rgb(60, 184, 184);
}
h5 {
  color:#695d65 ;
}

p {
  color: #695d65;
  margin-bottom: 1px;
}


/* img {
  width: 310px;
  height: 300px;
} */

button {
  background-color: #8a6083;
  /* Green */
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 0px;
  margin-left: none;
  margin-right: auto;
}

header {
  display: flex;
  /* align-items: center; */
  height: 100%;
  width: 16%;
  position: fixed;
  float: left;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(221, 210, 210);
}

header a {
  color: #df69c6;
  padding: 6px 8px 6px 16px;
  text-decoration: wavy;
  font-size: 20px;
  display: block;
  margin-top: 25% auto;
}

a:hover {
  color: #a01f84;
}

button:hover {
  color: rgb(59, 52, 57)
}

main {
  margin-left: 320px;
  position: absolute;
}

form {
  background-color: #fceefc;
  border: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  margin: 50%
}
.add-baker-form {
  background-color: #fceefc;
  border: none;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

form input {
  margin: 0.25rem 0;
}

form input[type="submit"] {
  width: 20px;
}

form img {
  width: 100px;
}

/* .grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  }
.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.grid > article img {
  max-width: 100%;
}
.text {
  padding: 0 20px 20px;
}
.text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 60%;
  } */